USE [master]
GO
/****** Object:  Database [EmbarcacionesBD]    Script Date: 12/3/2026 21:40:20 ******/
CREATE DATABASE [EmbarcacionesBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmbarcacionesBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\EmbarcacionesBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmbarcacionesBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\EmbarcacionesBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmbarcacionesBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmbarcacionesBD]
GO
/****** Object:  Schema [Embarcaciones]    Script Date: 12/3/2026 21:40:20 ******/
CREATE SCHEMA [Embarcaciones]
GO
/****** Object:  Schema [Fundaciones]    Script Date: 12/3/2026 21:40:20 ******/
CREATE SCHEMA [Fundaciones]
GO
/****** Object:  Schema [Seguridad]    Script Date: 12/3/2026 21:40:20 ******/
CREATE SCHEMA [Seguridad]
GO
/****** Object:  Table [Embarcaciones].[Embarcacion]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Embarcaciones].[Embarcacion](
	[IdEmbarcacion] [int] IDENTITY(1,1) NOT NULL,
	[IdEmbarcacionPropietario] [int] NULL,
	[IdEmbarcacionConstruccion] [int] NULL,
	[IdTipoEmbarcacion] [int] NULL,
	[IdPuertoRegistroAnterior] [int] NULL,
	[IdPuertoRegistroActual] [int] NOT NULL,
	[IdBanderaRegistroActual] [int] NOT NULL,
	[IdBanderaRegistroAnterior] [int] NULL,
	[IdActividad] [int] NOT NULL,
	[IdZonaNavegacion] [int] NULL,
	[NombreActual] [nvarchar](100) NOT NULL,
	[PropietarioAnterior] [nvarchar](150) NULL,
	[FechaAbanderada] [date] NULL,
	[FechaInscripcion] [date] NULL,
	[PermisoNavegacion] [nvarchar](50) NULL,
	[LicenciaPesca] [nvarchar](50) NULL,
	[Distrito] [nvarchar](50) NULL,
	[MatriculaActual] [nvarchar](50) NULL,
	[NombreAnterior] [nvarchar](100) NULL,
	[IndicativoLlamada] [nvarchar](50) NULL,
	[FechaExpiracion] [date] NULL,
	[LicenciaEspecialPesca] [nvarchar](50) NULL,
	[CAP_PCE] [nvarchar](50) NULL,
	[MatriculaAnterior] [nvarchar](50) NULL,
	[NumeroOMI] [nvarchar](50) NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmbarcacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Embarcaciones].[EmbarcacionConstruccion]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Embarcaciones].[EmbarcacionConstruccion](
	[IdEmbarcacionConstruccion] [int] IDENTITY(1,1) NOT NULL,
	[IdMaterial] [int] NULL,
	[IdPropulsion] [int] NOT NULL,
	[IdTipoComunicacion] [int] NULL,
	[IdMarcaMotor] [int] NOT NULL,
	[IdColorSuperestructura] [int] NULL,
	[IdColorObraMuerta] [int] NULL,
	[IdColorObraViva] [int] NULL,
	[IdSistemaNavegacion] [int] NULL,
	[Puntal] [decimal](10, 2) NULL,
	[IdUnidadMedida_Puntal] [int] NOT NULL,
	[TRB] [decimal](10, 2) NULL,
	[IdUnidadMedida_TRB] [int] NOT NULL,
	[Calado] [decimal](10, 2) NULL,
	[IdUnidadMedida_Calado] [int] NOT NULL,
	[TRN] [decimal](10, 2) NULL,
	[IdUnidadMedida_TRN] [int] NOT NULL,
	[Eslora] [decimal](10, 2) NULL,
	[IdUnidadMedida_Eslora] [int] NOT NULL,
	[Manga] [decimal](10, 2) NULL,
	[IdUnidadMedida_Manga] [int] NOT NULL,
	[SerieMotor] [nvarchar](255) NULL,
	[NumeroTripulantes] [int] NULL,
	[NumeroPasajeros] [int] NULL,
	[AnioConstruccion] [int] NULL,
	[Potencia] [nvarchar](255) NULL,
	[MediosCX] [nvarchar](255) NULL,
	[TipoFechaInfracciones] [nvarchar](max) NULL,
	[NumeroConstruccion] [nvarchar](255) NULL,
	[ModeloMotor] [nvarchar](255) NULL,
	[Frecuencia] [nvarchar](255) NULL,
	[CapacidadCarga] [nvarchar](255) NULL,
	[Indicativo] [nvarchar](50) NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmbarcacionConstruccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Embarcaciones].[EmbarcacionPropietario]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Embarcaciones].[EmbarcacionPropietario](
	[IdEmbarcacionPropietario] [int] IDENTITY(1,1) NOT NULL,
	[NombrePropietario] [nvarchar](150) NOT NULL,
	[IdTipoIdentificacion] [int] NOT NULL,
	[Identificacion] [varchar](200) NULL,
	[IdNacionalidad] [int] NOT NULL,
	[IdMunicipio] [int] NOT NULL,
	[IdDepartamento] [int] NOT NULL,
	[Domicilio] [nvarchar](255) NULL,
	[Telefono] [nvarchar](30) NULL,
	[EmpresaPropietaria] [nvarchar](255) NULL,
	[TelefonoEmpresaPropietaria] [nvarchar](255) NULL,
	[RutaImagenPropietario] [nvarchar](255) NULL,
	[LicenciaNavegacion] [nvarchar](255) NULL,
	[NumeroCarnetMarinero] [nvarchar](255) NULL,
	[NombreContacto] [nvarchar](255) NULL,
	[EstaActivo] [bit] NULL,
	[EsHistorico] [bit] NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmbarcacionPropietario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Embarcaciones].[EmbarcacionPuertoSeleccion]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Embarcaciones].[EmbarcacionPuertoSeleccion](
	[IdEmbarcacionPuertoSeleccion] [int] IDENTITY(1,1) NOT NULL,
	[IdEmbarcacionConstruccion] [int] NOT NULL,
	[IdPuerto] [int] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmbarcacionPuertoSeleccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Fundaciones].[Catalogo]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Fundaciones].[Catalogo](
	[IdCatalogo] [int] IDENTITY(1,1) NOT NULL,
	[CodigoInterno] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCatalogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Catalogo_CodigoInterno] UNIQUE NONCLUSTERED 
(
	[CodigoInterno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Fundaciones].[CatalogoValor]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Fundaciones].[CatalogoValor](
	[IdCatalogoValor] [int] IDENTITY(1,1) NOT NULL,
	[IdCatalogo] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCatalogoValor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Fundaciones].[Departamento]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Fundaciones].[Departamento](
	[IdDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[Departamento] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Fundaciones].[Municipio]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Fundaciones].[Municipio](
	[IdMunicipio] [int] IDENTITY(1,1) NOT NULL,
	[IdDepartamento] [int] NOT NULL,
	[Municipio] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Fundaciones].[Persona]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Fundaciones].[Persona](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](150) NOT NULL,
	[IdTipoIdentificacion] [int] NOT NULL,
	[Identificacion] [nvarchar](50) NULL,
	[Telefono] [nvarchar](30) NULL,
	[Correo] [nvarchar](100) NULL,
	[Direccion] [nvarchar](255) NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Fundaciones].[UnidadMedida]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Fundaciones].[UnidadMedida](
	[IdUnidadMedida] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Abreviatura] [nvarchar](20) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUnidadMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[Accion]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Accion](
	[IdAccion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[Cuenta]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Cuenta](
	[IdCuenta] [int] IDENTITY(1,1) NOT NULL,
	[IdPersona] [int] NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[ContrasenaHash] [varbinary](255) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cuenta_Usuario] UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[Pagina]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Pagina](
	[IdPagina] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[UrlPagina] [nvarchar](255) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[EstaActivo] [bit] NULL,
	[EsHistorico] [bit] NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPagina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[Rol]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[RolCuenta]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[RolCuenta](
	[IdRolCuenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCuenta] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRolCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RolCuenta] UNIQUE NONCLUSTERED 
(
	[IdCuenta] ASC,
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[RolPaginaAccion]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[RolPaginaAccion](
	[IdRolPaginaAccion] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdPagina] [int] NOT NULL,
	[IdAccion] [int] NOT NULL,
	[EstaPermitido] [bit] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
	[EsHistorico] [bit] NOT NULL,
	[IdUsuarioCreacion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdUsuarioModificacion] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRolPaginaAccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RolPaginaAccion] UNIQUE NONCLUSTERED 
(
	[IdRol] ASC,
	[IdPagina] ASC,
	[IdAccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Embarcaciones].[Embarcacion] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Embarcaciones].[Embarcacion] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Embarcaciones].[Embarcacion] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPropietario] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPropietario] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPropietario] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPuertoSeleccion] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPuertoSeleccion] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPuertoSeleccion] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Fundaciones].[Catalogo] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Fundaciones].[Catalogo] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Fundaciones].[Catalogo] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Fundaciones].[CatalogoValor] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Fundaciones].[CatalogoValor] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Fundaciones].[CatalogoValor] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Fundaciones].[Departamento] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Fundaciones].[Departamento] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Fundaciones].[Departamento] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Fundaciones].[Municipio] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Fundaciones].[Municipio] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Fundaciones].[Municipio] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Fundaciones].[Persona] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Fundaciones].[Persona] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Fundaciones].[Persona] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Fundaciones].[UnidadMedida] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Fundaciones].[UnidadMedida] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Fundaciones].[UnidadMedida] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Seguridad].[Accion] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Seguridad].[Accion] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Seguridad].[Accion] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Seguridad].[Cuenta] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Seguridad].[Cuenta] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Seguridad].[Cuenta] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Seguridad].[Pagina] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Seguridad].[Pagina] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Seguridad].[Pagina] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Seguridad].[Rol] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Seguridad].[Rol] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Seguridad].[Rol] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Seguridad].[RolCuenta] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Seguridad].[RolCuenta] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Seguridad].[RolCuenta] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Seguridad].[RolPaginaAccion] ADD  DEFAULT ((1)) FOR [EstaPermitido]
GO
ALTER TABLE [Seguridad].[RolPaginaAccion] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Seguridad].[RolPaginaAccion] ADD  DEFAULT ((0)) FOR [EsHistorico]
GO
ALTER TABLE [Seguridad].[RolPaginaAccion] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [Embarcaciones].[Embarcacion]  WITH CHECK ADD  CONSTRAINT [FK_Embarcacion_Actividad] FOREIGN KEY([IdActividad])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[Embarcacion] CHECK CONSTRAINT [FK_Embarcacion_Actividad]
GO
ALTER TABLE [Embarcaciones].[Embarcacion]  WITH CHECK ADD  CONSTRAINT [FK_Embarcacion_BanderaRegistroActual] FOREIGN KEY([IdBanderaRegistroActual])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[Embarcacion] CHECK CONSTRAINT [FK_Embarcacion_BanderaRegistroActual]
GO
ALTER TABLE [Embarcaciones].[Embarcacion]  WITH CHECK ADD  CONSTRAINT [FK_Embarcacion_BanderaRegistroAnterior] FOREIGN KEY([IdBanderaRegistroAnterior])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[Embarcacion] CHECK CONSTRAINT [FK_Embarcacion_BanderaRegistroAnterior]
GO
ALTER TABLE [Embarcaciones].[Embarcacion]  WITH CHECK ADD  CONSTRAINT [FK_Embarcacion_Construccion] FOREIGN KEY([IdEmbarcacionConstruccion])
REFERENCES [Embarcaciones].[EmbarcacionConstruccion] ([IdEmbarcacionConstruccion])
GO
ALTER TABLE [Embarcaciones].[Embarcacion] CHECK CONSTRAINT [FK_Embarcacion_Construccion]
GO
ALTER TABLE [Embarcaciones].[Embarcacion]  WITH CHECK ADD  CONSTRAINT [FK_Embarcacion_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Embarcaciones].[Embarcacion] CHECK CONSTRAINT [FK_Embarcacion_Creacion]
GO
ALTER TABLE [Embarcaciones].[Embarcacion]  WITH CHECK ADD  CONSTRAINT [FK_Embarcacion_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Embarcaciones].[Embarcacion] CHECK CONSTRAINT [FK_Embarcacion_Modificacion]
GO
ALTER TABLE [Embarcaciones].[Embarcacion]  WITH CHECK ADD  CONSTRAINT [FK_Embarcacion_Propietario] FOREIGN KEY([IdEmbarcacionPropietario])
REFERENCES [Embarcaciones].[EmbarcacionPropietario] ([IdEmbarcacionPropietario])
GO
ALTER TABLE [Embarcaciones].[Embarcacion] CHECK CONSTRAINT [FK_Embarcacion_Propietario]
GO
ALTER TABLE [Embarcaciones].[Embarcacion]  WITH CHECK ADD  CONSTRAINT [FK_Embarcacion_PuertoRegistroActual] FOREIGN KEY([IdPuertoRegistroActual])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[Embarcacion] CHECK CONSTRAINT [FK_Embarcacion_PuertoRegistroActual]
GO
ALTER TABLE [Embarcaciones].[Embarcacion]  WITH CHECK ADD  CONSTRAINT [FK_Embarcacion_PuertoRegistroAnterior] FOREIGN KEY([IdPuertoRegistroAnterior])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[Embarcacion] CHECK CONSTRAINT [FK_Embarcacion_PuertoRegistroAnterior]
GO
ALTER TABLE [Embarcaciones].[Embarcacion]  WITH CHECK ADD  CONSTRAINT [FK_Embarcacion_TipoEmbarcacion] FOREIGN KEY([IdTipoEmbarcacion])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[Embarcacion] CHECK CONSTRAINT [FK_Embarcacion_TipoEmbarcacion]
GO
ALTER TABLE [Embarcaciones].[Embarcacion]  WITH CHECK ADD  CONSTRAINT [FK_Embarcacion_ZonaNavegacion] FOREIGN KEY([IdZonaNavegacion])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[Embarcacion] CHECK CONSTRAINT [FK_Embarcacion_ZonaNavegacion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_ColorObraMuerta] FOREIGN KEY([IdColorObraMuerta])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_ColorObraMuerta]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_ColorObraViva] FOREIGN KEY([IdColorObraViva])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_ColorObraViva]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_ColorSuperestructura] FOREIGN KEY([IdColorSuperestructura])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_ColorSuperestructura]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_Creacion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_MarcaMotor] FOREIGN KEY([IdMarcaMotor])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_MarcaMotor]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_Modificacion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_Propulsion] FOREIGN KEY([IdPropulsion])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_Propulsion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_SistemaNavegacion] FOREIGN KEY([IdSistemaNavegacion])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_SistemaNavegacion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_TipoComunicacion] FOREIGN KEY([IdTipoComunicacion])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_TipoComunicacion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_UM_Calado] FOREIGN KEY([IdUnidadMedida_Calado])
REFERENCES [Fundaciones].[UnidadMedida] ([IdUnidadMedida])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_UM_Calado]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_UM_Eslora] FOREIGN KEY([IdUnidadMedida_Eslora])
REFERENCES [Fundaciones].[UnidadMedida] ([IdUnidadMedida])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_UM_Eslora]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_UM_Manga] FOREIGN KEY([IdUnidadMedida_Manga])
REFERENCES [Fundaciones].[UnidadMedida] ([IdUnidadMedida])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_UM_Manga]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_UM_Puntal] FOREIGN KEY([IdUnidadMedida_Puntal])
REFERENCES [Fundaciones].[UnidadMedida] ([IdUnidadMedida])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_UM_Puntal]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_UM_TRB] FOREIGN KEY([IdUnidadMedida_TRB])
REFERENCES [Fundaciones].[UnidadMedida] ([IdUnidadMedida])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_UM_TRB]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbConst_UM_TRN] FOREIGN KEY([IdUnidadMedida_TRN])
REFERENCES [Fundaciones].[UnidadMedida] ([IdUnidadMedida])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionConstruccion] CHECK CONSTRAINT [FK_EmbConst_UM_TRN]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPropietario]  WITH CHECK ADD  CONSTRAINT [FK_EmbarcacionPropietario_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPropietario] CHECK CONSTRAINT [FK_EmbarcacionPropietario_Creacion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPropietario]  WITH CHECK ADD  CONSTRAINT [FK_EmbarcacionPropietario_Departamento] FOREIGN KEY([IdDepartamento])
REFERENCES [Fundaciones].[Departamento] ([IdDepartamento])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPropietario] CHECK CONSTRAINT [FK_EmbarcacionPropietario_Departamento]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPropietario]  WITH CHECK ADD  CONSTRAINT [FK_EmbarcacionPropietario_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPropietario] CHECK CONSTRAINT [FK_EmbarcacionPropietario_Modificacion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPropietario]  WITH CHECK ADD  CONSTRAINT [FK_EmbarcacionPropietario_Municipio] FOREIGN KEY([IdMunicipio])
REFERENCES [Fundaciones].[Municipio] ([IdMunicipio])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPropietario] CHECK CONSTRAINT [FK_EmbarcacionPropietario_Municipio]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPropietario]  WITH CHECK ADD  CONSTRAINT [FK_EmbarcacionPropietario_Nacionalidad] FOREIGN KEY([IdNacionalidad])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPropietario] CHECK CONSTRAINT [FK_EmbarcacionPropietario_Nacionalidad]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPuertoSeleccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbarcacionPuertoSeleccion_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPuertoSeleccion] CHECK CONSTRAINT [FK_EmbarcacionPuertoSeleccion_Creacion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPuertoSeleccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbarcacionPuertoSeleccion_Embarcacion] FOREIGN KEY([IdEmbarcacionConstruccion])
REFERENCES [Embarcaciones].[EmbarcacionConstruccion] ([IdEmbarcacionConstruccion])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPuertoSeleccion] CHECK CONSTRAINT [FK_EmbarcacionPuertoSeleccion_Embarcacion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPuertoSeleccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbarcacionPuertoSeleccion_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPuertoSeleccion] CHECK CONSTRAINT [FK_EmbarcacionPuertoSeleccion_Modificacion]
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPuertoSeleccion]  WITH CHECK ADD  CONSTRAINT [FK_EmbarcacionPuertoSeleccion_Puerto] FOREIGN KEY([IdPuerto])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Embarcaciones].[EmbarcacionPuertoSeleccion] CHECK CONSTRAINT [FK_EmbarcacionPuertoSeleccion_Puerto]
GO
ALTER TABLE [Fundaciones].[Catalogo]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Fundaciones].[Catalogo] CHECK CONSTRAINT [FK_Catalogo_Creacion]
GO
ALTER TABLE [Fundaciones].[Catalogo]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Fundaciones].[Catalogo] CHECK CONSTRAINT [FK_Catalogo_Modificacion]
GO
ALTER TABLE [Fundaciones].[CatalogoValor]  WITH CHECK ADD  CONSTRAINT [FK_CatalogoValor_Catalogo] FOREIGN KEY([IdCatalogo])
REFERENCES [Fundaciones].[Catalogo] ([IdCatalogo])
GO
ALTER TABLE [Fundaciones].[CatalogoValor] CHECK CONSTRAINT [FK_CatalogoValor_Catalogo]
GO
ALTER TABLE [Fundaciones].[CatalogoValor]  WITH CHECK ADD  CONSTRAINT [FK_CatalogoValor_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Fundaciones].[CatalogoValor] CHECK CONSTRAINT [FK_CatalogoValor_Creacion]
GO
ALTER TABLE [Fundaciones].[CatalogoValor]  WITH CHECK ADD  CONSTRAINT [FK_CatalogoValor_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Fundaciones].[CatalogoValor] CHECK CONSTRAINT [FK_CatalogoValor_Modificacion]
GO
ALTER TABLE [Fundaciones].[Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Departamento_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Fundaciones].[Departamento] CHECK CONSTRAINT [FK_Departamento_Creacion]
GO
ALTER TABLE [Fundaciones].[Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Departamento_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Fundaciones].[Departamento] CHECK CONSTRAINT [FK_Departamento_Modificacion]
GO
ALTER TABLE [Fundaciones].[Municipio]  WITH CHECK ADD  CONSTRAINT [FK_Municipio_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Fundaciones].[Municipio] CHECK CONSTRAINT [FK_Municipio_Creacion]
GO
ALTER TABLE [Fundaciones].[Municipio]  WITH CHECK ADD  CONSTRAINT [FK_Municipio_Departamento] FOREIGN KEY([IdDepartamento])
REFERENCES [Fundaciones].[Departamento] ([IdDepartamento])
GO
ALTER TABLE [Fundaciones].[Municipio] CHECK CONSTRAINT [FK_Municipio_Departamento]
GO
ALTER TABLE [Fundaciones].[Municipio]  WITH CHECK ADD  CONSTRAINT [FK_Municipio_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Fundaciones].[Municipio] CHECK CONSTRAINT [FK_Municipio_Modificacion]
GO
ALTER TABLE [Fundaciones].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Fundaciones].[Persona] CHECK CONSTRAINT [FK_Persona_Creacion]
GO
ALTER TABLE [Fundaciones].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Fundaciones].[Persona] CHECK CONSTRAINT [FK_Persona_Modificacion]
GO
ALTER TABLE [Fundaciones].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_TipoIdentificacion] FOREIGN KEY([IdTipoIdentificacion])
REFERENCES [Fundaciones].[CatalogoValor] ([IdCatalogoValor])
GO
ALTER TABLE [Fundaciones].[Persona] CHECK CONSTRAINT [FK_Persona_TipoIdentificacion]
GO
ALTER TABLE [Fundaciones].[UnidadMedida]  WITH CHECK ADD  CONSTRAINT [FK_UnidadMedida_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Fundaciones].[UnidadMedida] CHECK CONSTRAINT [FK_UnidadMedida_Creacion]
GO
ALTER TABLE [Fundaciones].[UnidadMedida]  WITH CHECK ADD  CONSTRAINT [FK_UnidadMedida_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Fundaciones].[UnidadMedida] CHECK CONSTRAINT [FK_UnidadMedida_Modificacion]
GO
ALTER TABLE [Seguridad].[Accion]  WITH CHECK ADD  CONSTRAINT [FK_Accion_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Seguridad].[Accion] CHECK CONSTRAINT [FK_Accion_Creacion]
GO
ALTER TABLE [Seguridad].[Accion]  WITH CHECK ADD  CONSTRAINT [FK_Accion_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Seguridad].[Accion] CHECK CONSTRAINT [FK_Accion_Modificacion]
GO
ALTER TABLE [Seguridad].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Seguridad].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_Creacion]
GO
ALTER TABLE [Seguridad].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Seguridad].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_Modificacion]
GO
ALTER TABLE [Seguridad].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Persona] FOREIGN KEY([IdPersona])
REFERENCES [Fundaciones].[Persona] ([IdPersona])
GO
ALTER TABLE [Seguridad].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_Persona]
GO
ALTER TABLE [Seguridad].[Pagina]  WITH CHECK ADD  CONSTRAINT [FK_Pagina_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Seguridad].[Pagina] CHECK CONSTRAINT [FK_Pagina_Creacion]
GO
ALTER TABLE [Seguridad].[Pagina]  WITH CHECK ADD  CONSTRAINT [FK_Pagina_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Seguridad].[Pagina] CHECK CONSTRAINT [FK_Pagina_Modificacion]
GO
ALTER TABLE [Seguridad].[Rol]  WITH CHECK ADD  CONSTRAINT [FK_Rol_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Seguridad].[Rol] CHECK CONSTRAINT [FK_Rol_Creacion]
GO
ALTER TABLE [Seguridad].[Rol]  WITH CHECK ADD  CONSTRAINT [FK_Rol_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Seguridad].[Rol] CHECK CONSTRAINT [FK_Rol_Modificacion]
GO
ALTER TABLE [Seguridad].[RolCuenta]  WITH CHECK ADD  CONSTRAINT [FK_RolCuenta_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Seguridad].[RolCuenta] CHECK CONSTRAINT [FK_RolCuenta_Creacion]
GO
ALTER TABLE [Seguridad].[RolCuenta]  WITH CHECK ADD  CONSTRAINT [FK_RolCuenta_Cuenta] FOREIGN KEY([IdCuenta])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Seguridad].[RolCuenta] CHECK CONSTRAINT [FK_RolCuenta_Cuenta]
GO
ALTER TABLE [Seguridad].[RolCuenta]  WITH CHECK ADD  CONSTRAINT [FK_RolCuenta_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Seguridad].[RolCuenta] CHECK CONSTRAINT [FK_RolCuenta_Modificacion]
GO
ALTER TABLE [Seguridad].[RolCuenta]  WITH CHECK ADD  CONSTRAINT [FK_RolCuenta_Rol] FOREIGN KEY([IdRol])
REFERENCES [Seguridad].[Rol] ([IdRol])
GO
ALTER TABLE [Seguridad].[RolCuenta] CHECK CONSTRAINT [FK_RolCuenta_Rol]
GO
ALTER TABLE [Seguridad].[RolPaginaAccion]  WITH CHECK ADD  CONSTRAINT [FK_RPA_Accion] FOREIGN KEY([IdAccion])
REFERENCES [Seguridad].[Accion] ([IdAccion])
GO
ALTER TABLE [Seguridad].[RolPaginaAccion] CHECK CONSTRAINT [FK_RPA_Accion]
GO
ALTER TABLE [Seguridad].[RolPaginaAccion]  WITH CHECK ADD  CONSTRAINT [FK_RPA_Creacion] FOREIGN KEY([IdUsuarioCreacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [Seguridad].[RolPaginaAccion] CHECK CONSTRAINT [FK_RPA_Creacion]
GO
ALTER TABLE [Seguridad].[RolPaginaAccion]  WITH CHECK ADD  CONSTRAINT [FK_RPA_Modificacion] FOREIGN KEY([IdUsuarioModificacion])
REFERENCES [Seguridad].[Cuenta] ([IdCuenta])
ON DELETE SET NULL
GO
ALTER TABLE [Seguridad].[RolPaginaAccion] CHECK CONSTRAINT [FK_RPA_Modificacion]
GO
ALTER TABLE [Seguridad].[RolPaginaAccion]  WITH CHECK ADD  CONSTRAINT [FK_RPA_Pagina] FOREIGN KEY([IdPagina])
REFERENCES [Seguridad].[Pagina] ([IdPagina])
GO
ALTER TABLE [Seguridad].[RolPaginaAccion] CHECK CONSTRAINT [FK_RPA_Pagina]
GO
ALTER TABLE [Seguridad].[RolPaginaAccion]  WITH CHECK ADD  CONSTRAINT [FK_RPA_Rol] FOREIGN KEY([IdRol])
REFERENCES [Seguridad].[Rol] ([IdRol])
GO
ALTER TABLE [Seguridad].[RolPaginaAccion] CHECK CONSTRAINT [FK_RPA_Rol]
GO
ALTER TABLE [Seguridad].[Cuenta]  WITH CHECK ADD  CONSTRAINT [CK_Cuenta_Estado] CHECK  (([Estado]='SUSPENDIDA' OR [Estado]='BLOQUEADA' OR [Estado]='ACTIVA'))
GO
ALTER TABLE [Seguridad].[Cuenta] CHECK CONSTRAINT [CK_Cuenta_Estado]
GO
/****** Object:  StoredProcedure [Fundaciones].[PermiteEliminarCatalogoValor]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Fundaciones].[PermiteEliminarCatalogoValor] @IdCatalogoValor INT ,@CodigoInterno VARCHAR(4)
AS 
BEGIN 
DECLARE @resultado AS BIT = 0


 IF @CodigoInterno = 'ACTV'
 BEGIN 
    IF NOT  EXISTS (SELECT * FROM Embarcaciones.Embarcacion AS E 
	WHERE IdActividad = @IdCatalogoValor AND  EstaActivo =1 AND EsHistorico = 0)
	BEGIN 
	  SET @resultado =1 
	END 
 END 

  IF @CodigoInterno = 'BAND'
 BEGIN 
    IF NOT  EXISTS (SELECT * FROM Embarcaciones.Embarcacion AS E 
	WHERE (IdBanderaRegistroActual = @IdCatalogoValor or IdBanderaRegistroAnterior = @IdCatalogoValor) AND  EstaActivo =1 AND EsHistorico = 0)
	BEGIN 
	  SET @resultado =1 
	END 
 END 

   IF @CodigoInterno = 'COLR'
 BEGIN 
    IF NOT  EXISTS (SELECT * FROM Embarcaciones.EmbarcacionConstruccion AS EC
	WHERE (EC.IdColorObraMuerta = @IdCatalogoValor or IdColorObraViva = @IdCatalogoValor or IdColorSuperestructura = @IdCatalogoValor) AND  EstaActivo =1 AND EsHistorico = 0)
	BEGIN 
	  SET @resultado =1 
	END 
 END 


    IF @CodigoInterno = 'MRCA'
 BEGIN 
    IF NOT  EXISTS (SELECT * FROM Embarcaciones.EmbarcacionConstruccion AS EC
	WHERE EC.IdMarcaMotor = @IdCatalogoValor  AND  EstaActivo =1 AND EsHistorico = 0)
	BEGIN 
	  SET @resultado =1 
	END 
 END 

     IF @CodigoInterno = 'MTRL'
 BEGIN 
    IF NOT  EXISTS (SELECT * FROM Embarcaciones.EmbarcacionConstruccion AS EC
	WHERE EC.IdMaterial = @IdCatalogoValor  AND  EstaActivo =1 AND EsHistorico = 0)
	BEGIN 
	  SET @resultado =1 
	END 
 END 


      IF @CodigoInterno = 'NACI'
 BEGIN 
    IF NOT  EXISTS (SELECT * FROM Embarcaciones.EmbarcacionPropietario AS Ep
	WHERE Ep.IdNacionalidad = @IdCatalogoValor  AND  EstaActivo =1 AND EsHistorico = 0)
	BEGIN 
	  SET @resultado =1 
	END 
 END 

       IF @CodigoInterno = 'PRTO'
 BEGIN 
    IF ((NOT  EXISTS (SELECT * FROM Embarcaciones.EmbarcacionPuertoSeleccion  AS Ep
	WHERE IdPuerto = @IdCatalogoValor  AND  EstaActivo =1 AND EsHistorico = 0) )AND (
	NOT EXISTS (SELECT * FROM	Embarcaciones.Embarcacion AS E WHERE (E.IdPuertoRegistroActual = @IdCatalogoValor OR IdPuertoRegistroAnterior = @IdCatalogoValor) AND EstaActivo =1 AND EsHistorico =0)))
	BEGIN 
	  SET @resultado =1 
	END 
 END 


    IF @CodigoInterno = 'TIDF'
 BEGIN 
    IF NOT  EXISTS (SELECT * FROM Fundaciones.Persona AS p WHERE p.IdTipoIdentificacion = @IdCatalogoValor AND p.EstaActivo =1 AND p.EsHistorico = 0)
	BEGIN 
	  SET @resultado =1 
	END 
 END

 select * from Fundaciones.Catalogo
   IF @CodigoInterno = 'STNV'
 BEGIN 
    IF NOT  EXISTS (SELECT * FROM Embarcaciones.EmbarcacionConstruccion as ec where IdSistemaNavegacion = @IdCatalogoValor and EstaActivo =1 and EsHistorico = 0 )
	BEGIN 
	  SET @resultado =1 
	END 
 END 


    IF @CodigoInterno = 'TPEM'
 BEGIN 
    IF NOT  EXISTS (SELECT * FROM Embarcaciones.Embarcacion as ec where IdTipoEmbarcacion = @IdCatalogoValor and EstaActivo =1 and EsHistorico = 0 )
	BEGIN 
	  SET @resultado =1 
	END 
 END 

     IF @CodigoInterno = 'TPPR'
 BEGIN 
    IF NOT  EXISTS (SELECT * FROM Embarcaciones.EmbarcacionConstruccion as ec where ec.IdPropulsion = @IdCatalogoValor and EstaActivo =1 and EsHistorico = 0 )
	BEGIN 
	  SET @resultado =1 
	END 
 END 


      IF @CodigoInterno = 'ZNNV'
 BEGIN 
    IF NOT  EXISTS (SELECT * FROM Embarcaciones.Embarcacion as ec where ec.IdZonaNavegacion = @IdCatalogoValor and EstaActivo =1 and EsHistorico = 0 )
	BEGIN 
	  SET @resultado =1 
	END 
 END 

 SELECT @resultado
END 
GO
/****** Object:  StoredProcedure [Fundaciones].[PermiteEliminarDepartamento]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Fundaciones].[PermiteEliminarDepartamento] @IdDepartamento INT 
AS 
BEGIN 

DECLARE @Resultado BIT = 0

IF  ((NOT EXISTS (SELECT * FROM Fundaciones.Municipio AS M WHERE IdDepartamento = @IdDepartamento AND EstaActivo =1 and EsHistorico = 0  )) AND
(NOT EXISTS (SELECT * FROM Embarcaciones.EmbarcacionPropietario AS EP WHERE IdDepartamento = @IdDepartamento AND EstaActivo =1 AND EsHistorico = 0)))
BEGIN 

SET @Resultado =1 
END 

SELECT @Resultado

END 
GO
/****** Object:  StoredProcedure [Fundaciones].[PermiteEliminarMunicipio]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Fundaciones].[PermiteEliminarMunicipio] @IdMunicipio INT 
AS 
BEGIN 

DECLARE @Resultado BIT = 0

IF  (NOT EXISTS (SELECT * FROM Embarcaciones.EmbarcacionPropietario AS EP WHERE IdMunicipio = @IdMunicipio AND EstaActivo =1 AND EsHistorico = 0))
BEGIN 

SET @Resultado =1 
END 

SELECT @Resultado

END 
GO
/****** Object:  StoredProcedure [Fundaciones].[PermiteEliminarPersona]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [Fundaciones].[PermiteEliminarPersona]
    @IdPersona INT
AS
BEGIN
    SET NOCOUNT ON;

	 

    SELECT IIF(
        EXISTS (
           SELECT 1 FROM Seguridad.Cuenta WHERE IdPersona = @IdPersona AND EstaActivo =1 AND EsHistorico = 0
        ),
        0,   -- No se puede eliminar
        1    -- Sí se puede eliminar
    ) AS PermiteEliminar

END
GO
/****** Object:  StoredProcedure [Fundaciones].[PermiteEliminarUnidadMedida]    Script Date: 12/3/2026 21:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [Fundaciones].[PermiteEliminarUnidadMedida]
    @IdUnidadMedida INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IIF(
        EXISTS (
            SELECT 1
            FROM Embarcaciones.EmbarcacionConstruccion Ec
            WHERE 
                Ec.EstaActivo = 1
                AND Ec.EsHistorico = 0
                AND @IdUnidadMedida IN (
                    Ec.IdUnidadMedida_Calado,
                    Ec.IdUnidadMedida_Eslora,
                    Ec.IdUnidadMedida_Manga,
                    Ec.IdUnidadMedida_Puntal,
                    Ec.IdUnidadMedida_TRB,
                    Ec.IdUnidadMedida_TRN
                )
        ),
        0,   -- No se puede eliminar
        1    -- Sí se puede eliminar
    ) AS PermiteEliminar

END
GO
USE [master]
GO
